input:focus {
  outline: none;
}


.info {
  display: none;
}

.edit-btn {
  width: 2rem;
  height: 2rem;
}

.delete-btn {
  width: 2rem;
  height: 2rem;
}

.border-edit {
  outline: 2px solid orange;
}

.border-edit:focus {
  outline: 2px solid orange;
}

.correct {
  border: 2px solid green
}

.incorrect {
  border: 2px solid red
}